
@{
    ViewBag.Title = "Manage Employee";
}

<input type="hidden" value="#EmployeeManagement>.nav-link" id="GetGeneralTab" />


<link href="~/CustomCSS/table.css" rel="stylesheet" />
<div class="row">
    <div class="col-12 col-md-8 col-xl-4">
        <input type="text" placeholder="Search Employee by Name" class="form-control shadow-none  searchby_name_emp">
    </div>
    <div class="col-12 col-md-4 col-xl-4">
        <button type="button" class="bg-info text-white shadow-none w-100 text-white mt-2 btnsearch">
            Search
            <img class="searchicon" src="~/Images/searchicon with out back.png" />
        </button>
    </div>
    <div class="col-12 col-md-4 col-xl-4">
        <p class="mt-2 show_all_employee">Show all Employee : 12345</p>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-12 col-md-12 col-xl-12">
        <table class="table border bg-white w-100" style="border: 0px">
            <tr class="bg-info text-white">
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Zumaid khan</td>
                <td>khan@email.com</td>
                <td>Mcs</td>
                <td>Manager</td>
                <td class="d-flex flex-nowrap">
                    <a class="ManageEmpIcon-add" title="Add" href="#"></a>
                    <a class="ManageEmpIcon-edit" title="Edit" href="#"></a>
                    <a class="ManageEmpIcon-delete" title="Delete" href="#"></a>
                </td>
            </tr>
            <tr>
                <td>Zumaid khan</td>
                <td>khan@email.com</td>
                <td>Mcs</td>
                <td>Manager</td>
                <td class="d-flex flex-nowrap">
                    <a class="ManageEmpIcon-add" title="Add" href="#"></a>
                    <a class="ManageEmpIcon-edit" title="Edit" href="#"></a>
                    <a class="ManageEmpIcon-delete" title="Delete" href="#"></a>
                </td>
            </tr>
            <tr>
                <td>Zumaid khan</td>
                <td>khan@email.com</td>
                <td>Mcs</td>
                <td>Manager</td>
                <td class="d-flex flex-nowrap">
                    <a class="ManageEmpIcon-add" title="Add" href="#"></a>
                    <a class="ManageEmpIcon-edit" title="Edit" href="#"></a>
                    <a class="ManageEmpIcon-delete" title="Delete" href="#"></a>
                </td>
            </tr>
            <tr>
                <td>Zumaid khan</td>
                <td>khan@email.com</td>
                <td>Mcs</td>
                <td>Manager</td>
                <td class="d-flex flex-nowrap">
                    <a class="ManageEmpIcon-add" title="Add" href="#"></a>
                    <a class="ManageEmpIcon-edit" title="Edit" href="#"></a>
                    <a class="ManageEmpIcon-delete" title="Delete" href="#"></a>
                </td>
            </tr>
            <tr>
                <td>Zumaid khan</td>
                <td>khan@email.com</td>
                <td>Mcs</td>
                <td>Manager</td>
                <td class="d-flex flex-nowrap">
                    <a class="ManageEmpIcon-add" title="Add" href="#"></a>
                    <a class="ManageEmpIcon-edit" title="Edit" href="#"></a>
                    <a class="ManageEmpIcon-delete" title="Delete" href="#"></a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-12 col-md-6 col-xl-4">
        <p>Page 1 of 20</p>
    </div>
    <div class="col-12 col-md-6 col-xl-4 ml-auto">
        <ul class="pagination  justify-content-center">
            <li><a href="#">Previous</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>
</div>

