.tbl-div
{
    width: 100%;
    overflow-x: auto;
    width: 100%;
    overflow: scroll;
    height: 300px;
    overflow-y:auto;
}
.tbl
{
    min-width: 980px;
}
th
{
    background-color:skyblue;
    position:sticky;
    top:0;
}