.emp-salary-table-body
{
    background-color: lightgray;
}
.edit-image
{
    background-image: url(../icons/add%20emp.png);
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.three-btn:focus
{
    outline: none!important;
    text-decoration: none;
    list-style: none;
}
.three-btn
{
    width: 70px;
    display: inline;
}
