@model website_emp.Models.Shift
@{
    ViewBag.Title = "ShiftsDetail";
}
<input type="hidden" id="GetActiveTab" value="#ManageShifts" />
<div class="Big-Box mt-3">
    <div class="row" >
        <div class="col-12">
            <h4 class="text-white pl-2 pb-1" style="background-color:#48A1E5"><small>Add Shift</small></h4>
        </div>
    </div>
    @using (Html.BeginForm())
    {
    <div class="row no-gutters w-100 p-3">
        <div class="col-12 col-md-4 col-xl-4 px-1">
            <label class="font-weight-bold mb-0 mt-2">Shift Name</label>
            <input type="text" placeholder="Name" name="ShiftName" class="form-control rounded-0 shadow">
        </div>
        <div class="col-12 col-md-4 col-xl-4 px-1">
            <label class="font-weight-bold mb-0 mt-2">Strting Time</label>
            <input type="text" placeholder="mm/dd/yyyy hh/mm am/pm" name="ShiftStartTime" class="form-control rounded-0 shadow">
        </div>
        <div class="col-12 col-md-4 col-xl-4 px-1">
            <label class="font-weight-bold mb-0 mt-2">Ending Time</label>
            <input type="text" placeholder="mm/dd/yyyy hh/mm am/pm" name="ShiftEndTime" class="form-control rounded-0 shadow">
        </div>
    </div>

    <div class="row w-100 no-gutters p-3 justify-content-end">
        <div class="col-12 col-md-4 col-xl-4 px-1">
            <button type="submit" class="form-control text-white bg-primary shadow border-0 btn-submit mb-3">Add Shift</button>
        </div>
    </div>
    }
</div>