@model website_emp.Models.SalaryTemplate
@{
    ViewBag.Title = "AddTemplate";
}
<input type="hidden" id="GetActiveTab" value="#AddTemplate" />

<link href="~/CustomCSS/Salary Module Css/Add new template-css.css" rel="stylesheet" />
<div class="Big-Box mt-3">
    <div class="row no-gutters">
        <!-- <div class="col-3">
             <a href="#" class="text-decoration-none">Payroll List</a>
         </div>
         <div class="col-4">
             <a href="#" class="text-decoration-none">Add New Template</a>
         </div>-->
        <ul class="nav nav-tabs mt-2">
            <li class="nav-item"><button type="submit" class="nav-link border-white shadow">@Html.ActionLink("Payroll List", "TemplateList", null, new { @class = "text-black text-decoration-none font-weight-bold" })</button></li>
            <li class="nav-item"><button type="submit" class="nav-link border-white shadow">@Html.ActionLink("Add New Template", "AddTemplate", null, new { @class = "text-black text-decoration-none font-weight-bold" })</button></li>
        </ul>
    </div>

    <!-- <table class="table table-borderless">
         <tr class="d-flex text-justify  justify-content-sm-center justify-content-center">
             <td class="mt-1">Template Name</td>
             <td class="w-50"><input type="text" class="w-100 form-control shadow" placeholder="Enter Salary grade"></td>
         </tr>

            <tr class="d-flex text-justify  justify-content-sm-center justify-content-center">
             <td class="mt-1">Payroll Template</td>
             <td class="w-50"><input type="text" class="w-100 form-control shadow" placeholder="Enter Salary grade"></td>
         </tr>

            <tr class="d-flex text-justify  justify-content-sm-center justify-content-center">
             <td class="mt-1">Overtime Rate &nbsp;  &nbsp;</td>
             <td class="w-50"><input type="text" class="w-100 form-control shadow" placeholder="Enter Salary grade"></td>
         </tr>

         <tr class="d-flex text-justify justify-content-center">
             <td class="w-25">
                <button type="button" class="text-white bg-info form-control btn shadow btn-save" >Save</button>
             </td>
         </tr>
     </table>-->
    @using (Html.BeginForm())
    {
    <div class="row m-3">
        <div class="col-12 col-xl-3 col-md-4 d-flex text-justify justify-content-center justify-content-sm-center">
            <label class="mb-0 mt-2">Template Name</label>
        </div>
        <div class="col-12 col-xl-5 col-md-8 d-flex   text-justify justify-content-center justify-content-sm-center input-group">
            <input type="text" required name="TemplateName" class="form-control shadow">
            <div class="input-group-append shadow"><span class="input-group-text fas fa-user-edit pt-2 d-flex "></span></div>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-12 col-xl-3 col-md-4 d-flex text-justify justify-content-center justify-content-sm-center">
            <label class="mb-0 mt-2">Payroll Template</label>
        </div>
        <div class="col-12 col-xl-5 col-md-8 d-flex   text-justify justify-content-center justify-content-sm-center input-group">
            <input type="text" name="Payroll" required class="form-control shadow">
            <div class="input-group-append shadow"><span class="input-group-text fas fa-edit pt-2 d-flex "></span></div>
        </div>
    </div>
    @*<div class="row m-3">
        <div class="col-12 col-xl-3 col-md-4 d-flex text-justify justify-content-center justify-content-sm-center">
            <label class="mb-0 mt-2">Amount Per/Hour</label>
        </div>
        <div class="col-12 col-xl-5 col-md-8 d-flex   text-justify justify-content-center justify-content-sm-center input-group">
            <input type="text" class="form-control shadow">
            <div class="input-group-append shadow"><span class="input-group-text fas fa-medal pt-2 d-flex "></span></div>
        </div>
    </div>*@
    <div class="row m-3">
        <div class="col-12 col-xl-3 col-md-4 d-flex text-justify justify-content-center justify-content-sm-center">
            <label class="mb-0 mt-2">Absenties % Deduction</label>
        </div>
        <div class="col-12 col-xl-5 col-md-8 d-flex   text-justify justify-content-center justify-content-sm-center input-group">
            <input type="text" name="AbsentiesPercentage" required class="form-control shadow">
            <div class="input-group-append shadow"><span class="input-group-text fas fa-minus pt-2 d-flex "></span></div>
        </div>
    </div>
    @*<div class="row m-3">
        <div class="col-12 col-xl-3 col-md-4 d-flex text-justify justify-content-center justify-content-sm-center">
            <label class="mb-0 mt-2">Department</label>
        </div>
        <div class="col-12 col-xl-5 col-md-8 d-flex   text-justify justify-content-center justify-content-sm-center input-group">
            <select class="form-control shadow">
                <option>It</option>
                <option>Accountant</option>
                <option>Manager</option>
                <option>Developer</option>
            </select>
            <div class="input-group-append shadow"><span class="input-group-text fas fa-home pt-2 d-flex "></span></div>
        </div>
    </div>*@
    <div class="row m-3 pb-4">
        <div class="col-12 col-xl-3 col-md-4 d-flex text-justify justify-content-center justify-content-sm-center">
        </div>
        <div class="col-12 col-xl-5 col-md-8 d-flex  text-justify  justify-content-sm-center justify-content-center  justify-content-lg-center mt-3 mt-xl-0 mt-md-0">
            <button type="submit" class="bg-info shadow form-control">Go</button>
            @*<div class="input-group-append shadow"><span class="input-group-text fas fa-arrow-alt-circle-right pt-2 d-flex "></span></div>*@
        </div>
    </div>
    }
</div>
