
@{
    ViewBag.Title = "AddTemplate";
}
<input type="hidden" id="GetActiveTab" value="#AddTemplate" />

<link href="~/CustomCSS/Salary Module Css/Add new template-css.css" rel="stylesheet" />
<div class="row">
    <div class="col-12">
        <h5 class="d-inline">Payroll Management</h5>
        <p class="d-inline float-right">Payroll > Paroll Template</p>
    </div>
</div>
<hr class="mt-0 mb-0 hr1">
<div class="bg-white">
    <div class="row">
        <div class="col-3">
            <a href="#" class="text-decoration-none">Payroll List</a>
        </div>
        <div class="col-4">
            <a href="#" class="text-decoration-none">Add New Template</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <label class="float-right mt-2">Template Name</label>
        </div>
        <div class="col-7 col-md-6 col-xl-4">
            <input type="text" class="form-control shadow" placeholder="Enter Salary grade">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-4">
            <label class="float-right mt-2">Payroll Template</label>
        </div>
        <div class="col-7 col-md-6 col-xl-4">
            <input type="text" class="form-control shadow" placeholder="Enter hourly rate">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <label class="float-right mt-2">Overtime Rate</label>
        </div>
        <div class="col-7 col-md-6 col-xl-4">
            <input type="text" class="form-control shadow" placeholder="Enter overtime rate per hour">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <label class="float-right mt-2 d-none">Overtime Rate</label>
        </div>
        <div class="col-7 col-md-6 col-xl-4">
            <button type="submit" class="form-control text-white bg-info shadow">Save</button>
        </div>
    </div>
    <hr class="mt-5">
</div>

