
@{
    ViewBag.Title = "AssignSalary";
}
<input type="hidden" id="GetActiveTab" value="#AssignSalary" />
<link href="~/CustomCSS/Salary Module Css/manage salary details.css" rel="stylesheet" />
<div class="row mt-3">
    <div class="col-12">
        <h4 class="d-inline">Payroll management</h4>
        <p class="d-inline float-right mt-2">Payroll > Payroll Tempalate</p>
    </div>
</div>
<hr class="mb-0 hr1">
<div class="bg-white h-100">
    <h5 class="ml-2">Manage salary Details</h5>
    <div class="row text-center">
        <div class="col-8 mt-2">
            <label class="d-inline">Select Department</label>
            <select class="w-50 d-inline">
                <option>IT</option>
                <option>Accountant</option>
                <option>Marketing</option>
                <option>Bussiness</option>
            </select>
        </div>
        <div class="col-3 mb-3">
            <button type="submit" class="bg-info shadow border-0 font-weight-bold text-white form-control">Go</button>
        </div>
    </div>
</div>
<hr class="mb-0 hr1">
<div class="row no-gutters bg-white">
    <table class="table table-bordered">
        <tr>
            <th>Employee Name</th>
            <th>Designation</th>
            <th>Payroll Tempalate</th>
        </tr>
        <tr>
            <td>Zumaid khan</td>
            <td>Developer</td>
            <td>
                <select class="w-50">
                    <option>IT</option>
                    <option>Accountant</option>
                    <option>Marketing</option>
                    <option>Bussiness</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Zumaid khan</td>
            <td>Developer</td>
            <td>
                <select class="w-50">
                    <option>IT</option>
                    <option>Accountant</option>
                    <option>Marketing</option>
                    <option>Bussiness</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Zumaid khan</td>
            <td>Developer</td>
            <td>
                <select class="w-50">
                    <option>IT</option>
                    <option>Accountant</option>
                    <option>Marketing</option>
                    <option>Bussiness</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Zumaid khan</td>
            <td>Developer</td>
            <td>
                <select class="w-50">
                    <option>IT</option>
                    <option>Accountant</option>
                    <option>Marketing</option>
                    <option>Bussiness</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Zumaid khan</td>
            <td>Developer</td>
            <td>
                <select class="w-50">
                    <option>IT</option>
                    <option>Accountant</option>
                    <option>Marketing</option>
                    <option>Bussiness</option>
                </select>
            </td>
        </tr>

    </table>
    <div class="col-12">
        <button type="submit" class="float-right font-weight-bold mt-2 mr-2 bg-info mb-4  text-white shadow border-0 btn-update">Update</button>
    </div>
</div>
