
@{
    ViewBag.Title = "CheckSalary";
}
<input type="hidden" id="GetActiveTab" value="#CheckSalary" />
<link href="~/CustomCSS/Salary Module Css/check salary.css" rel="stylesheet" />
<div class="row mt-3">
    <div class="col-12">
        <h4 class="d-inline">Payroll management</h4>
        <p class="d-inline float-right mt-2">Payroll > Payroll Tempalate</p>
    </div>
</div>
<hr class="mt-0 mb-0 hr1">
<div class="bg-white mt-0">
    <div class="row no-gutters pt-2">
        <div class="col-12">
            <select class="ml-3">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
            <p class="d-inline">Records per page</p>
            <div class="float-right mr-3">
                <label>Search :</label>
                <input type="text" class="border shadow pl-2 text-search">
            </div>
        </div>
    </div>
    <div class="tbl-div">
        <table class="table table-bordered table-striped tbl">
            <tr>
                <th>
                    <input type="checkbox" class="">
                </th>
                <th>Profile</th>
                <th>Name</th>
                <th>Monthly Salary</th>
                <th>Paid On</th>
                <th>Status</th>
                <th class="pl-5">Action</th>
            </tr>
            <tr>
                <td> <input type="checkbox" class=""></td>
                <td class="text-center">
                    <a href="#" class="profile"></a>
                    <img src="icons/admin.png" class="profile-icon">
                </td>
                <td>Zumaid khan</td>
                <td>RS:2000</td>
                <td>22/10/2020</td>
                <td>
                    <button type="submit" class="bg-dark text-white shadow border-0">Generated</button>
                </td>
                <td>
                    <button type="submit" class="bg-info text-white shadow border-0"><i class="fas fa-edit"></i> Edit</button>
                    <button type="submit" class="bg-danger text-white shadow border-0"><i class="fas fa-trash-alt"></i> Delete</button>
                </td>
            </tr>
            <tr>
                <td> <input type="checkbox" class=""></td>
                <td class="text-center">
                    <a href="#" class="profile"></a>
                    <img src="icons/admin.png" class="profile-icon">
                </td>
                <td>Zumaid khan</td>
                <td>RS:2000</td>
                <td>22/10/2020</td>
                <td>
                    <button type="submit" class="bg-dark text-white shadow border-0">Generated</button>
                </td>
                <td>
                    <button type="submit" class="bg-info text-white shadow border-0"><i class="fas fa-edit"></i> Edit</button>
                    <button type="submit" class="bg-danger text-white shadow border-0"><i class="fas fa-trash-alt"></i> Delete</button>
                </td>
            </tr>
            <tr>
                <td> <input type="checkbox" class=""></td>
                <td class="text-center">
                    <a href="#" class="profile"></a>
                    <img src="icons/admin.png" class="profile-icon">
                </td>
                <td>Zumaid khan</td>
                <td>RS:2000</td>
                <td>22/10/2020</td>
                <td>
                    <button type="submit" class="bg-dark text-white shadow border-0">Generated</button>
                </td>
                <td>
                    <button type="submit" class="bg-info text-white shadow border-0"><i class="fas fa-edit"></i> Edit</button>
                    <button type="submit" class="bg-danger text-white shadow border-0"><i class="fas fa-trash-alt"></i> Delete</button>
                </td>
            </tr>
            <tr>
                <td> <input type="checkbox" class=""></td>
                <td class="text-center">
                    <a href="#" class="profile"></a>
                    <img src="icons/admin.png" class="profile-icon">
                </td>
                <td>Zumaid khan</td>
                <td>RS:2000</td>
                <td>22/10/2020</td>
                <td>
                    <button type="submit" class="bg-dark text-white shadow border-0">Generated</button>
                </td>
                <td>
                    <button type="submit" class="bg-info text-white shadow border-0"><i class="fas fa-edit"></i> Edit</button>
                    <button type="submit" class="bg-danger text-white shadow border-0"><i class="fas fa-trash-alt"></i> Delete</button>
                </td>
            </tr>

        </table>
    </div>
    <div class="row mt-5 no-gutters pb-4">
        <div class="col-12">
            <p class="ml-2 d-inline">Showing 1 to 4 of 4 entries</p>
            <div class="pagination float-right mr-3">
                <button type="submit">Previous</button>
                <button type="submit" class="text-white bg-info">1</button>
                <button type="submit">2</button>
                <button type="submit">3</button>
                <button type="submit">Next</button>
            </div>
        </div>
    </div>
</div>

