
@{
    ViewBag.Title = "GeneratePaySlip";
}
<input type="hidden" id="GetActiveTab" value="#GeneratePaySlip" />
<link href="~/CustomCSS/Salary Module Css/generate payslip.css" rel="stylesheet" />
<script src="~/Scripts/jenerate-payslip.js"></script>
<script src="~/Scripts/GeneratePayslip.js"></script>
<div class="Big-Box mt-3">
    <div class="bg-white">
        <div class="col-12 col-xl-3 col-md-4 d-flex text-justify justify-content-center justify-content-sm-center justify-content-xl-start">
            <h5 class="mt-2">Generate Payslip</h5>
        </div>
        <div class="row m-3">
            <div class="col-12 col-xl-3 col-md-4 d-flex text-justify justify-content-center justify-content-sm-center">
                <label class="mb-0 mt-2 ">Select Department</label>
            </div>
            <div class="col-12 col-xl-5 col-md-8 d-flex   text-justify justify-content-center justify-content-sm-center">
                @Html.DropDownList("departmentid",ViewData["DepartmentID"] as SelectList,new { @class= "form-control shadow" ,@id="DepartmentId" })
            </div>
        </div>
        <div class="row m-3">
        </div>
        <div class="row m-3 pb-4">
            <div class="col-12 col-xl-3 col-md-4 d-flex text-justify justify-content-center justify-content-sm-center">
            </div>
            <div class="col-12 col-xl-5 col-md-8 d-flex  text-justify  justify-content-sm-center justify-content-center  justify-content-lg-center mt-3 mt-xl-0 mt-md-0">
                <button type="submit" class="shadow border-0 font-weight-bold text-white form-control bg-primary" onclick="GetUnpaidSlip()" id="ShowEmployes">Go</button>
            </div>
        </div>
    </div>
</div>
<style>
    .hide{
        display:none!important;
    }
</style>
<div class="Big-Box mt-3 hide">
        <h4 class="mt-3 pl-3">Generate Payslip For August 2020</h4>
    <div class="row m-3">
        <div class="col-12 col-md-8 col-xl-8">
            <p class="mb-0">Search</p>
            <input type="text" class="shadow form-control" id="search" placeholder="Search By Employee Name" />
        </div>
        <div class="col-12  col-md-4 col-xl-4 mt-4">
            <button type="submit" class="bg-primary form-control shadow text-white" onclick="GetUnpaidSlip()">  Search</button>
        </div>
    </div>
        <div id="tbl-div" class="tbl-div">
            <table class="table table-striped  tbl">
                <tr class="text-white">
                    <th>Emp ID</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Department</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Status</th>
                    <th class="d-flex">Action <input type="checkbox" id="selectall" style="width:20px; height:20px; margin-top:5px; margin-left:5px" /></th>
                </tr>
                <tbody id="ListBox">
                   
                </tbody>
                
            </table>
        </div>
    <div class="row no-gutters w-100">
        <div class="col-12 d-flex justify-content-end"><button id="PaySelected" class="btn btn-primary" onclick="PaySelected()">Pay Selected</button></div>
    </div>
    </div>
<script>
    $('#selectall').change(function (e) {
        if ($(this).is(':checked')) {
            $.each($('.paycheckbox'), function (e) {
                $(this).prop('checked', true);
            })
        } else {
            $.each($('.paycheckbox'), function (e) {
                $(this).prop('checked', false);
            })
        }
    })
    $('.paycheckbox').change(function () {
        let ok = 0;
        $.each($('.paycheck'), function (e) {
            if ($(this).is(':checked')) {
                ok++;
            }
        })
        if (ok == $('.paycheck').length)
            $('#selectall').prop('checked', true);
        else {
            $('#selectall').prop('checked', false);
        }
    });
    let gobtn = document.getElementById('ShowEmployes');
    function GetUnpaidSlip() {
        $('.Big-Box').removeClass('hide');
        if ($("#DepartmentId").val() == "-1")
            MessageBox.show("Error", "Select One Department", MessageType.Error);
        else {
            $.post('@Url.Action("GetUnpaidList")', { DepartmentId: $("#DepartmentId").val(),search :$('#search').val() }, function (data) {
                let items = '';
                data.data.forEach(function (element,index) {
                    items += `<tr id='Emp-${element.EmployeId}'>
                            <td>${index}</td>
                            <td>${element.EmployeName}</td>
                            <td>${element.DesignationName}</td>
                            <td>${element.DepartmentName}</td>
                            <td><input type="text" id="fromdate" class="date"/></td>
                            <td><input type="text" id="todate" class="date" /></td>
                            <td>
                                <button type="button" class="bg-danger text-white shadow border-0 form-control">unpaid</button>
                            <td>
                                <button type="button" class ="text-white bg-primary shadow form-control w-75 border-0 d-inline mb-0" onclick="makepayment(${element.EmployeId},'Emp-${element.EmployeId}')"'>Make Payment</button>
                                <input value='Emp-${element.EmployeId}' EmployeId='${element.EmployeId}' type="checkbox" class ="d-inline paycheckbox" name="isselect" style="width:20px; height:20px; margin-left:5px" />
                            </td>
                        </tr>`
                })
                $('#ListBox').html(items);
            })
        }
    }
    function makepayment(EmployeId, EmployeRow) {
        var fromdate = $('#' + EmployeRow + ' #fromdate').val();
        var todate = $('#' + EmployeRow + ' #todate').val();
        if (fromdate != "" || todate != "") {
            if (fromdate == "") {
                $('#' + EmployeRow + ' #fromdate').css('border-color', 'red');
                MessageBox.show('Error', 'Fill Both dates or Leave Both Empty', MessageType.Error);
                return;
            }
            else if (todate == "") {
                $('#' + EmployeRow + ' #todate').css('border-color', 'red');
                MessageBox.show('Error', 'Fill Both dates or Leave Both Empty', MessageType.Error);
                return;
            }}
        else {
            $('#' + EmployeRow + ' #fromdate').css('border-color', 'initial');
            $('#' + EmployeRow + ' #todate').css('border-color', 'initial');
        }
        $.post('@Url.Action("GeneratePaySlip")', { EmployeId: EmployeId, fromdate: fromdate, todate: todate }).done( function (data) {
            GetUnpaidSlip();
            MessageBox.show('Success', 'SuccessFully Generated Slip For'+EmployeId, MessageType.Success);
            console.log(data);
        }).fail(function (error) {
            GetUnpaidSlip();
            MessageBox.show('Failure', error, MessageType.Error);
        })
    }
    function PaySelected() {
        let selected = '';
        console.log($('.paycheckbox').length);
        debugger;
            $.each($('.paycheckbox'), function (e) {
                if ($(this).is(':checked')) {
                    selected += $(this).attr('EmployeId') + ',';
                }
            })
            if (selected.length == 0) {
                MessageBox.show('Failure', 'Select At Least One CheckBox', MessageType.Warning);
            } else {
                selected = selected.slice(0, selected.length - 1);
                $.post('@Url.Action("GeneratePaySlipMany")', { EmployesId: selected }).done(function (data) {
                    GetUnpaidSlip();
                    MessageBox.show('Success', 'SuccessFully Generated Slip For selected Employes', MessageType.Success);
                }).fail(function (err) {
                    GetUnpaidSlip();
                    MessageBox.show('Failure', error, MessageType.Error);
                })
            }
        }

    $(document).ready(function () {
        $('.date').datepicker();
    })
</script>