
@{
    ViewBag.Title = "makepayment";
}
<input type="hidden" id="GetActiveTab" value="#makepayments" />

<div class="Big-Box mt-3">
    <div class="col-12 d-flex text-justify justify-content-center justify-content-sm-start  ">
        <h5 class="mt-2">Make Payment</h5>
    </div>
    <form method="post" action="@Url.Action("makepayment","SalaryManagement")">
        <div class="row m-3">
            <div class="col-12 col-xl-3 col-md-4 d-flex text-justify justify-content-center justify-content-sm-center">
                <label class="mb-0 mt-2 ">Select Department</label>
            </div>
            <div class="col-12 col-xl-5 col-md-8 d-flex   text-justify justify-content-center justify-content-sm-center input-group">
                @Html.DropDownList("departmentid",ViewBag.department as SelectList, new { @class= "form-control shadow" })
                <div class="input-group-append shadow"><span class="input-group-text fas fa-home"></span></div>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-12 col-xl-3 col-md-4 d-flex text-justify justify-content-center justify-content-sm-center">
                <label class="mb-0 mt-2 ">Select Month</label>
            </div>
            <div class="col-12 col-xl-5 col-md-8 d-flex   text-justify justify-content-center justify-content-sm-center input-group">
                <input type="date" name="date" class="form-control shadow">
                <div class="input-group-append shadow"><span class="input-group-text fas fa-calendar-alt"></span></div>
            </div>
            <div class="col-12">
                @if (ViewBag.errormsg != null)
                {
                    <p class="text-danger text-center">@ViewBag.errormsg</p>
                }
            </div>
        </div>
        <div class="row m-3 pb-4">
            <div class="col-12 col-xl-3 col-md-4 d-flex text-justify justify-content-center justify-content-sm-center">
            </div>
            <div class="col-12 col-xl-5 col-md-8 d-flex  text-justify  justify-content-sm-center justify-content-center  justify-content-lg-center mt-3 mt-xl-0 mt-md-0">
                <button type="submit" class="shadow border-0 font-weight-bold text-white form-control bg-info">Go</button>
                <div class="input-group-append shadow"><span class="input-group-text fas fa-arrow-alt-circle-right pt-2 d-flex "></span></div>
            </div>
        </div>
    </form>
    
    
    
</div>