
@{
    ViewBag.Title = "ManageSarlary";
}
<link href="~/CustomCSS/Salary Module Css/manage salary details.css" rel="stylesheet" />
<input type="hidden" id="GetActiveTab" value="#ManageSalary" />
<div class="mt-3 Big-Box">
    <div>
        <div class="col-12 col-xl-12 col-md-12 d-flex text-justify justify-content-center justify-content-sm-start">
            <h5>Manage Salary Details</h5>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-xl-3 col-md-4 d-flex text-justify justify-content-center justify-content-sm-center">
                <label class="mb-0 mt-2">Select Department</label>
            </div>
            <div class="col-12 col-xl-4 col-md-4 d-flex   text-justify justify-content-center justify-content-sm-center">
                <select class="form-control shadow">
                    <option>IT</option>
                    <option>Accountant</option>
                    <option>Marketing</option>
                    <option>Bussiness</option>
                </select>
            </div>
            <div class="col-12 col-xl-4 col-md-4 d-flex  text-justify justify-content-center justify-content-sm-center  mt-3 mt-xl-0 mt-md-0">
                <button type="submit" class="shadow border-0 font-weight-bold text-white form-control bg-info b-go">Go</button>
            </div>
        </div>
    </div>
    <div class="">
        <div class="tbl-div">
            <table class="table table-bordered mt-0 table-striped tbl">
                <tr class="text-white bg-info">
                    <th>Employee Name</th>
                    <th>Designation</th>
                    <th>Payroll Tempalate</th>
                </tr>
                <tr>
                    <td>Zumaid khan</td>
                    <td>Developer</td>
                    <td>
                        <select class="w-50">
                            <option>IT</option>
                            <option>Accountant</option>
                            <option>Marketing</option>
                            <option>Bussiness</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Zumaid khan</td>
                    <td>Developer</td>
                    <td>
                        <select class="w-50">
                            <option>IT</option>
                            <option>Accountant</option>
                            <option>Marketing</option>
                            <option>Bussiness</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Zumaid khan</td>
                    <td>Developer</td>
                    <td>
                        <select class="w-50">
                            <option>IT</option>
                            <option>Accountant</option>
                            <option>Marketing</option>
                            <option>Bussiness</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Zumaid khan</td>
                    <td>Developer</td>
                    <td>
                        <select class="w-50">
                            <option>IT</option>
                            <option>Accountant</option>
                            <option>Marketing</option>
                            <option>Bussiness</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Zumaid khan</td>
                    <td>Developer</td>
                    <td>
                        <select class="w-50">
                            <option>IT</option>
                            <option>Accountant</option>
                            <option>Marketing</option>
                            <option>Bussiness</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Zumaid khan</td>
                    <td>Developer</td>
                    <td>
                        <select class="w-50">
                            <option>IT</option>
                            <option>Accountant</option>
                            <option>Marketing</option>
                            <option>Bussiness</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Zumaid khan</td>
                    <td>Developer</td>
                    <td>
                        <select class="w-50">
                            <option>IT</option>
                            <option>Accountant</option>
                            <option>Marketing</option>
                            <option>Bussiness</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Zumaid khan</td>
                    <td>Developer</td>
                    <td>
                        <select class="w-50">
                            <option>IT</option>
                            <option>Accountant</option>
                            <option>Marketing</option>
                            <option>Bussiness</option>
                        </select>
                    </td>
                </tr>
                <!--                        <script>
                                        for(var i=1; i<=50; i++)
                                            {
                                                document.write("<tr>");
                                                document.write("<td>"+"ismail");
                                                document.write("</td>");
                                                document.write("<td>"+"developers");
                                                document.write("</td>");
                                                document.write("<td>"+"<select><option>it</option><option>kulkula</option><option>bussiness</option></select>");
                                                document.write("</td>");
                                                document.write("</tr>");
                                            }
                                        </script>-->


            </table>
        </div>
        <div class="col-12  d-flex text-justify justify-content-center justify-content-sm-end m-3">
            <button type="submit" class="shadow border-0 font-weight-bold text-white form-control bg-info mr-3 btn-update">Update</button>
        </div>
    </div>
</div>

