
@{
    ViewBag.Title = "AddHolidays";
}
<input type="hidden" id="GetActiveTab" value="#AddHolidays" />

<div class="Big-Box mt-3">
    <form method="post" action="@Url.Action("AddHolidays","Attendance")">
    <div class="row m-3">
        
        <div class="col-lg-4 col-sm-12">
            <p class="mb-0 font-weight-bold">Date: </p>
            <input type="date" name="HolidayDate" class="form-control shadow" />
        </div>
        <div class="col-lg-4 col-sm-12">
            <p class="mb-0 font-weight-bold"">Occasion</p>
            <input type="text" required name="HolidayName"  class="form-control shadow" />
        </div>
        <div class="col-lg-4 col-sm-12">
            <input type="submit" class="form-control mt-4 bg-success text-white shadow" value="Submit" />
        </div>
        
            <button onclick="location.href= '@Url.Action("Holidays", "Attendance")'" class="bg-primary shadow border-0 m-3 text-white"><i class="fa fa-times-circle"> Close</i></button>

        
    </div>
    </form>
</div>




