@model website_emp.Models.Leave
@{
    ViewBag.Title = "LeaveRequest_E";
}

<input type="hidden" id="GetActiveTab" value="#LeaveRequest_E" />
<div class="Big-Box mt-3">
    <div class="row">
        <div class="col-12">
            <button onclick="location.href= '@Url.Action("MyLeave", "Attendance")'" class="bg-primary shadow border-0 m-3 text-white float-right"><i class="fa fa-eye"></i> Show my Leave Requests</button>
        </div>
    </div>
    @using (Html.BeginForm())
    {
    <div class="row mx-5">
        <div class="col-sm-12 col-lg-3">
            Select Duration
            <input type="text" class="form-control" name="TotalDays" value="" />
        </div>
        <div class="col-sm-12 col-lg-3">
            Start Date
            <input type="text" class="form-control" name="startTime" value="" />
        </div>
        <div class="col-sm-12 col-lg-3">
            End Date
            <input type="text" class="form-control" name="endTime" value="" />
        </div>
    </div>


    <div class="row mx-5 mb-3">

        <div class="col-sm-12 col-lg-6">
            Leave Discription
            <textarea name="Description" class="form-control" style="resize:none"></textarea>
        </div>
       
        <div class="col-sm-12 col-lg-3 mt-4">
            
            <button type="submit" class="form-control shadow border-0 bg-success text-white">Save</button> 
        </div>
    </div>
    }
</div>
