
.profile-icon {
    width: 50px;
    border-radius: 20px;
}
.tbl
{
    min-width: 900px;
}
.tbl-div
{
    overflow: scroll;
    max-height: 450px;
     width: 100%;
    overflow-x: auto;
}
th
{
    background-color:skyblue;
    position:sticky;
    top:0;
}
.select-pages
{
    width: 80px;
    height: 25px;
}
.text-search:focus
{
    outline: none!important;
}