.select-pages
{
    width: 80px;
    height: 25px;
}
.text-search:focus
{
    outline: none!important;
}
.tbl-div
{
    width: 100%;
    overflow-x: auto;
}
.tbl
{
    min-width: 1100px;
}
.tbl-div
{
    width: 100%;
    overflow: scroll;
    height: 300px;
    overflow:auto;
}
th
{
    background-color:#48A1E5;
    position:sticky;
    top:0;
}
  .div-show
  {
      display:none;
  }