.select-pages
{
    width: 80px;
    height: 25px;
}
.text-search:focus
{
    outline: none!important;
}
.tbl-div
{
    width: 100%;
    overflow-x: auto;
}
.tbl
{
    min-width: 950px;
}
.tbl-div
{
    width: 100%;
    overflow: scroll;
    height: 450px;
    overflow:auto;
}
th
{
    background-color:#48A1E5;
    position:sticky;
    top:0;
}
 p
 {
     margin-bottom:0px;
     margin-top:13px;
     font-size:20px;
 }