.select-pages
{
    width: 70px;
    height: 25px;
}
.text-search:focus
{
    outline: none!important;
    width: 200px;
}
.text-search
{
    width: 200px;
}
.tbl
{
    min-width:800px;
}
.tbl-div
{
    width: 100%;
    /*overflow: scroll;*/
    overflow-x:auto;
    /*overflow:auto;*/
}
th
{
    background-color:skyblue;
    position:sticky;
    top:0;
}