.plus-icon
{
    width: 25px;
    height: 20px;
}
.btn-new-award
{
    width: 180px;
}
.main-body
{
    background-color: lightgray;
}
.edit-icon
{
    background-image: url(../icons/editi.png);
    width: 20px;
    height:20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.delete-icon
{
    background-image: url(../icons/crossicon.png);
    width: 20px;
    height:20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tbl
{
    width: 100%;
    overflow-x: auto;
}
